#topLayer {
    align-items: center;
    display: flex;
    gap: 105px;
    justify-content: center;
    margin-left: min(calc(-1*(1600px - 100vw) / 2), 0);
    width: 1600px;
}

#container {
    padding-left: 5%;/* Adjust as needed for spacing */
    padding-right: 5%; /* Adjust as needed for spacing */
}

.two {
    align-items: center;
    display: flex;
    /* height: min(74vh, 50%); */
    height: 74vh;
    margin-top: -5%;
    justify-content: center;
    overflow: hidden;
    /* position: relative; */
}

.content{
    margin-top:-8%;
}

.content::after{
    content: ""; 
    height: 0.5px; 
    background-color: rgba(0, 0, 0, 0.8); 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
}


/* .rightGrid::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    pointer-events: none; 
} 
 */


#middleHeading {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.subText{
    color: #707070;
    font-family: "acumin-pro-wide", "Acumin Pro Wide", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 22px; */
    font-size: 135%;
    font-weight: 400;
    margin: 3% 0 4%;
    max-width: 40vw;
}

.leading{
    font-family: "acumin-pro-wide", "Acumin Pro Wide", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 90px; */
    font-size: 575%;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 83px;
    max-width: 70vw;
}

.leftSection{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.rightSection{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

h4 {
    font-family: "acumin-pro-wide", "Acumin Pro Wide", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2vw; /* Adjust as needed */
    font-weight: 400;
    margin: 2vw 0 3vw; /* Adjust as needed */
    max-width: 90vw;
    letter-spacing: 0; /* Adjust as needed */
    width: 100%;
}

.buttonArea{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}



/* .rightGrid,
.leftGrid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 576px;
    width: 396px
} */

.rightGrid,
.leftGrid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 38vh; /* 60% of the viewport height */
    width: 18vw; /* 40% of the viewport width */
}


#image2 {
    grid-column: 4 / 7;
    grid-row: 8 / 10;
    width: 90%;
    height: auto;
}

#image3{
    grid-column: 7 / 11;
    grid-row: 10 / 13;
    width: 125%;
    height: auto;
}

#image4{
    grid-column: 7 / 11;
    grid-row: 4 / 7;
    width: 102%;
    height: auto;
}

#image5{
    grid-column: 2 / 5;
    grid-row: 13 / 15;
    width: 157%;
    height: auto;
}

#image6{
    grid-column: 7 / 11;
    grid-row: 15 / 17;
    width: 100%;
    height: auto;
}

#image7{
    grid-column: 3 / 6;
    grid-row: 16 / 18;
    width: 152%;
    height: auto;
}

#image8{
    grid-column: 7 / 10;
    grid-row: 5 / 8;
    width: 130%;
    height: auto;
}

#image9{
    grid-column: 7 / 10;
    grid-row: 9 / 11;
    width: 165%;
    height: auto;
}

#image10{
    grid-column: 8 / 10;
    grid-row: 16 / 20;
    width: 165%;
    height: auto;
}

#image11{
    grid-column: 3 / 6;
    grid-row: 11 / 15;
    width: 112%;
    height: auto;
}

#image12{
    grid-column: 3 / 6;
    grid-row: 4 / 11;
    width: 112%;
    height: 88%;
}

.images{
    border-radius: 10px;
    opacity: 0.7;
}

#log {
    width: 25%;
    height: 45px;
    display: inline-block;
    background-color: #006eff;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    border-radius: 35px;
    cursor: pointer;
    letter-spacing: 0px;
    transition: background-color 0.3s ease;
    text-align: center; /* Center the text horizontally */
    line-height: 45px; /* Center the text vertically */
}


#log:hover {
    background-color: #0059c6;
}

.divider {
    margin-top: 1%;
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.08); 
    bottom: 0; 
    left: 0; 
    width: 100%; 
}

#filterButton{
    width: 5%;
    height: 45px;
    display: inline-block;
    background-color: #fbfdff;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    cursor: pointer;
    letter-spacing: 0px;
    transition: background-color 0.3s ease;
    text-align: center; /* Center the text horizontally */
    line-height: 45px; /* Center the text vertically */
    margin-left: 2%;
}

#filterButton:hover {
    background-color: #ededed;
}

#search {
    resize: none;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    line-height: 30px; /* Adjust the line height to vertically center the text */
    height: 40px; /* Adjust the height of the input */
    padding-left: 20px;
    width: 80%; 
}

#search:hover{
    background-color: #ededed;
}

#search:focus{
    border: 1px solid rgba(0, 0, 0, 0.02);
}


.navBar {
    margin-top: 8%;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

#sortButton{
    width: 5%;
    height: 45px;
    display: inline-block;
    background-color: #fbfdff;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    cursor: pointer;
    letter-spacing: 0px;
    transition: background-color 0.3s ease;
    text-align: center; /* Center the text horizontally */
    line-height: 45px; /* Center the text vertically */
    margin-right: 2%;
}

#sortButton:hover {
    background-color: #ededed;
}









