#wrapper {
    background-color: #fffbfb;
    color: #333;
    padding: 0.3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#wrapper::after {
    content: "";
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#logoSection {
    display: flex;
    /* Use flexbox to align items horizontally */
    align-items: center;
    /* Align items vertically */
}

#logoText {
    margin: 0;
    /* Remove default margin */
}

.buttons {
    display: flex;
    /* Use flexbox to align items horizontally */
    align-items: center;
    /* Align items vertically */
}


#search {
    resize: none;
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    line-height: 30px;
    height: 40px;
    padding-left: 20px;
    width: 750px !important;

}

#searchbutton {
    display: inline-block;
    padding: 5px 20px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-right: 65px;
    line-height: normal;
}


.userBtn {
    padding: 5px 20px;
    background-color: #eff7ff;
    font-size: 15px;
    font-weight: 600;
    color: #006eff;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.userBtn:hover {
    background-color: #d4e7ff;
}

#login {
    padding: 5px 20px;
    background-color: #eff7ff;
    font-size: 15px;
    font-weight: 600;
    color: #006eff;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login:hover {
    background-color: #d4e7ff;
}

#cart {
    font-size: 18px;
    padding: 6px 10px;
    background-color: #006eff;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 35px;
    cursor: pointer;
}

#cart:hover {
    background-color: #0059c6;
}